<!DOCTYPE html>
{% if USE_OPEN_GRAPH is not defined %}
{%     set USE_OPEN_GRAPH = True %}
{% endif %}
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock %}"{% if USE_OPENGRAPH %} prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#"{% endif %}>
<head>
  <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
{% block meta %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=1">
  <meta http-equiv="X-UA-Compatible" content="IE=11">
{% endblock %}
{% if FAVICON %}
  <link rel="shortcut icon" href="{{ SITEURL }}/{{ FAVICON }}">
{% endif %}
  <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/pure-min.css">
  <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/ext-pure.css">
  <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/style.css">
  <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/pygments/{{ PYGMENTS_STYLE | default('github') }}.css">
{% if USE_FONT_AWESOME is defined %}
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
{% endif %}
  <!--[if lte IE 8]>
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/grids-responsive-old-ie-min.css">
  <![endif]-->
  <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/grids-responsive-min.css">
  <!--<![endif]-->
  <!--[if lt IE 9]>
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/html5shiv.js"></script>
  <![endif]-->
{% if FEED_ALL_ATOM %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed">
{% endif %}
{% if FEED_ALL_RSS %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed">
{% endif %}
{% if FEED_ATOM %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed">
{% endif %}
{% if FEED_RSS %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed">
{% endif %}
{% if CATEGORY_FEED_ATOM and category %}
  <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed">
{% endif %}
{% if CATEGORY_FEED_RSS and category %}
  <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed">
{% endif %}
{% if TAG_FEED_ATOM and tag %}
  <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed">
{% endif %}
{% if TAG_FEED_RSS and tag %}
  <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed">
{% endif %}
{% if USE_OPEN_GRAPH %}
{%     block opengraph %}
  <!-- open graph tags -->
{%         if OG_FB_APP_ID %}
  <meta property="fb:app_id" content="{{ OG_FB_APP_ID }}">
{%         endif %}
  <meta property="og:site_name" content="{{ SITENAME }}">
{%     endblock %}
{% endif %}
</head>

<body>
<header>
  <nav>
{% include 'inc/menu.html' %}
  </nav>
</header>

<main>
<div id="main" class="pure-g">
<!-- main contents -->
{% if not HIDE_SIDEBAR or ABOUT_ME %}
<div class="pure-u-1 pure-u-lg-4-5">
{% else %}
<div class="pure-u-1">
{% endif %}
{% block content %}
{% endblock %}
<!-- main contents end --></div>

{% if not HIDE_SIDEBAR or ABOUT_ME %}
<!-- sidebar -->
<div class="pure-u-1 pure-u-lg-1-5">
  <aside>
  <div class="sidebar">
{%     if ABOUT_ME %}
{%         include 'inc/aboutme.html' %}
{%     endif %}
{%     if not HIDE_SIDEBAR %}
{#         include 'inc/sidebar.html' #}
{%     endif %}
  </div>
  </aside>
<!-- sidebar end --></div>
{% endif %}
</div>
</main>

{% include 'inc/footer.html' %}
</body>
</html>
