{% extends "base.html" %}
{% block meta %}{{ super() }}  <meta name="author" content="{{ AUTHOR }}">
{% endblock %}
{% block opengraph %}{{ super() }}  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ SITENAME }}">
  <meta property="og:url" content="{{ SITEURL }}">
  <meta property="og:description" content="{{ SITENAME }}">
{% if OPEN_GRAPH_IMAGE %}
  <meta property="og:image" content="{{ SITEURL }}/{{ OPEN_GRAPH_IMAGE }}">
{% endif %}
{% endblock %}
{% block content %}
{% if articles %}
{%     for article in (articles_page.object_list if articles_page else articles) %}
<article>
<div class="article-list">
  <h2 class="sub-head"><a href="{{ SITEURL}}/{{ article.url }}">{{ article.title }}</a></h2>
  <div class="article-info">
    <div class="basic-info">
      <div class="on-create">{% if SHOW_DATE_MODIFIED %}Created: {% endif %}<time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time></div>
{%         if SHOW_DATE_MODIFIED %}
      <div class="on-update">Modified: <time datetime="{{ article.modified.isoformat() }}">{{ article.locale_modified }}</time></div>
{%         endif %}
{%         if SHOW_ARTICLE_AUTHOR %}
{%             if article.author %}
      <div class="author">By <a href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a></div>
{%             endif %}
{%         endif %}
    </div>
    <div class="basic-info">
      <div class="category">Category: <a class="pure-button" href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a></div>
      <div class="tags">Tags:
{%         for tag in article.tags %}
        <a class="pure-button" href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
{%         endfor %}
      </div>
    </div>
    <div class="summary">
      <p>{{ article.summary }}</p>
    </div>
  </div>
</div>
</article>
{%     endfor %}
{% endif %}

{% include 'inc/pagination.html' %}
{% endblock content %}
