.highlight pre .hll { background-color: #ffffcc }
.highlight pre .c { color: #606060; font-style: italic } /* Comment */
.highlight pre .err { color: #F00000; background-color: #F0A0A0 } /* Error */
.highlight pre .k { color: #208090; font-weight: bold } /* Keyword */
.highlight pre .o { color: #303030 } /* Operator */
.highlight pre .cm { color: #606060; font-style: italic } /* Comment.Multiline */
.highlight pre .cp { color: #507090 } /* Comment.Preproc */
.highlight pre .c1 { color: #606060; font-style: italic } /* Comment.Single */
.highlight pre .cs { color: #c00000; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight pre .gd { color: #A00000 } /* Generic.Deleted */
.highlight pre .ge { font-style: italic } /* Generic.Emph */
.highlight pre .gr { color: #FF0000 } /* Generic.Error */
.highlight pre .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight pre .gi { color: #00A000 } /* Generic.Inserted */
.highlight pre .go { color: #808080 } /* Generic.Output */
.highlight pre .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
.highlight pre .gs { font-weight: bold } /* Generic.Strong */
.highlight pre .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight pre .gt { color: #0040D0 } /* Generic.Traceback */
.highlight pre .kc { color: #208090; font-weight: bold } /* Keyword.Constant */
.highlight pre .kd { color: #208090; font-weight: bold } /* Keyword.Declaration */
.highlight pre .kn { color: #208090; font-weight: bold } /* Keyword.Namespace */
.highlight pre .kp { color: #0080f0; font-weight: bold } /* Keyword.Pseudo */
.highlight pre .kr { color: #208090; font-weight: bold } /* Keyword.Reserved */
.highlight pre .kt { color: #6060f0; font-weight: bold } /* Keyword.Type */
.highlight pre .m { color: #6000E0; font-weight: bold } /* Literal.Number */
.highlight pre .s { background-color: #e0e0ff } /* Literal.String */
.highlight pre .na { color: #000070 } /* Name.Attribute */
.highlight pre .nb { color: #007020 } /* Name.Builtin */
.highlight pre .nc { color: #e090e0; font-weight: bold } /* Name.Class */
.highlight pre .no { color: #50e0d0; font-weight: bold } /* Name.Constant */
.highlight pre .nd { color: #505050; font-weight: bold } /* Name.Decorator */
.highlight pre .ni { color: #800000 } /* Name.Entity */
.highlight pre .ne { color: #F00000; font-weight: bold } /* Name.Exception */
.highlight pre .nf { color: #50e0d0; font-weight: bold } /* Name.Function */
.highlight pre .nl { color: #907000; font-weight: bold } /* Name.Label */
.highlight pre .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
.highlight pre .nt { color: #007000 } /* Name.Tag */
.highlight pre .nv { color: #003060 } /* Name.Variable */
.highlight pre .ow { color: #000000; font-weight: bold } /* Operator.Word */
.highlight pre .w { color: #bbbbbb } /* Text.Whitespace */
.highlight pre .mf { color: #6000E0; font-weight: bold } /* Literal.Number.Float */
.highlight pre .mh { color: #005080; font-weight: bold } /* Literal.Number.Hex */
.highlight pre .mi { color: #6060f0; font-weight: bold } /* Literal.Number.Integer */
.highlight pre .mo { color: #4000E0; font-weight: bold } /* Literal.Number.Oct */
.highlight pre .sb { background-color: #e0e0ff } /* Literal.String.Backtick */
.highlight pre .sc { color: #8080F0 } /* Literal.String.Char */
.highlight pre .sd { color: #D04020 } /* Literal.String.Doc */
.highlight pre .s2 { background-color: #e0e0ff } /* Literal.String.Double */
.highlight pre .se { color: #606060; font-weight: bold; background-color: #e0e0ff } /* Literal.String.Escape */
.highlight pre .sh { background-color: #e0e0ff } /* Literal.String.Heredoc */
.highlight pre .si { background-color: #e0e0e0 } /* Literal.String.Interpol */
.highlight pre .sx { color: #f08080; background-color: #e0e0ff } /* Literal.String.Other */
.highlight pre .sr { color: #000000; background-color: #e0e0ff } /* Literal.String.Regex */
.highlight pre .s1 { background-color: #e0e0ff } /* Literal.String.Single */
.highlight pre .ss { color: #f0c080 } /* Literal.String.Symbol */
.highlight pre .bp { color: #007020 } /* Name.Builtin.Pseudo */
.highlight pre .vc { color: #c0c0f0 } /* Name.Variable.Class */
.highlight pre .vg { color: #f08040 } /* Name.Variable.Global */
.highlight pre .vi { color: #a0a0f0 } /* Name.Variable.Instance */
.highlight pre .il { color: #6060f0; font-weight: bold } /* Literal.Number.Integer.Long */
